<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--GMaps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGSks7j0iMTtI73uGsANMZ_G3cKQtRS9Q" type="text/javascript"></script>
    <!--/Gmaps-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/Aco.css" rel="stylesheet" />

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">      
        
        <div class="container">      
            <div class="navbar-header">                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                  
                <a href="/Home" class="navbar-brand"> <i class="fa fa-road fa-lg"></i> AcoRoute</a>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home"><i class="fa fa-home"></i> Home</a></li>
                    @*<li><a href="/Home/About"><i class="fa fa-question"></i> About</a></li>  
                    <li><a href="/Home/Contact"><i class="fa fa-envelope"></i> Contact</a></li>*@
                    <li><a href="/Persons/Index"><i class="fa fa-group"></i> People</a></li>
                    <li><a href="/Vehicles/Index"><i class="fa fa-bus"></i> Vehicles</a></li>
                    <li><a href="/Routes/Index"><i class="fa fa-flask"></i> test</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @RenderSection("scripts", required: false)
</body>
</html>
