@model AcoRoute.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal container-fluid">
    <div class="col-sm-6">
        <h4>Person</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DocumentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DocumentType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DocumentNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CellphoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CellphoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorkphoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkphoneNumber)
            </dd>

        </dl> 
        <p>
            @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control hidden" } })
            @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control hidden" } })
            <a href="/Persons/Edit/@Model.PersonId"><i class="fa fa-edit"></i> Edit</a> |
            <a href="/Persons/Index"><i class="fa fa-list"></i> Back to List</a> 
        </p>
    </div>   

    <div class="col-sm-6">
        <div id="map" class="form-group" style="width: 600px; height: 500px"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                var point = createPoint($("#Latitude")[0].value, $("#Longitude")[0].value);
                createMap(15, point, true);
            });
        </script>
    </div>

</div>

@Scripts.Render("~/Scripts/maps.js")
