@model IEnumerable<AcoRoute.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-map-marker"></i> Paradas</h2>

<p>
    <br />
    <a href="/Persons/Create"><i class="fa fa-plus-circle"></i> Agregar nueva parada</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Domicilio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <a href="/Persons/Edit/@item.PersonId"><i class="fa fa-edit"></i> Editar</a> |
            <a href="/Persons/Details/@item.PersonId"><i class="fa fa-eye"></i> Ver</a> |
            <a href="/Persons/Delete/@item.PersonId"><i class="fa fa-trash"></i> Borrar</a>
        </td>
    </tr>
}

</table>
